.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95.8vh;
}

.container1, .container2, .container3, .container4 {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.btn {
  margin-right: 150px;
 margin-left: 150px;
}

.col-sm {
  display: flex;
  justify-content: center;
  align-items: center;
}

